In [28]:
import pandas as pd
import matplotlib.pylab as plt
import iso8601
import datetime
from pandas.plotting import register_matplotlib_converters
from IPython.display import display
register_matplotlib_converters()

volData = pd.read_csv("volAnalysis20190618.csv")
volData.describe()

,v60,spread60,v10,spread10,v2,spread2
count,4.317000e+04,43170.000000,4.317000e+04,43170.000000,4.317000e+04,43170.000000
mean,3.291790e+05,12.286656,5.484681e+04,4.750983,1.096437e+04,2.009683
std,3.597360e+05,8.040419,9.355599e+04,3.540313,3.143826e+04,1.923749
min,2.944434e+04,0.270000,6.926898e+02,0.010000,0.000000e+00,0.000000
25%,1.355874e+05,7.260000,1.537684e+04,2.570000,1.743762e+03,0.700000
50%,2.138803e+05,10.430000,2.800956e+04,3.910000,3.814554e+03,1.650000
75%,3.708641e+05,15.060000,5.637934e+04,5.830000,9.300490e+03,2.720000
max,4.856962e+06,106.820000,3.258197e+06,47.620000,2.684766e+06,46.490000

In [27]:
volData2 = pd.read_csv("volAnalysis20190617.csv")
volData2.describe()

,v60,spread60,v10,spread10,v2,spread2
count,4.317000e+04,43170.000000,4.317000e+04,43170.000000,4.317000e+04,43170.000000
mean,2.748668e+05,12.629076,4.581909e+04,4.623562,9.163935e+03,1.915649
std,2.971356e+05,9.295799,7.339045e+04,3.870841,2.455619e+04,2.026853
min,3.434441e+04,0.230000,1.250922e+02,0.010000,0.000000e+00,0.000000
25%,1.225159e+05,7.350000,1.378495e+04,2.440000,1.577663e+03,0.650000
50%,1.844520e+05,10.660000,2.468527e+04,3.770000,3.391914e+03,1.550000
75%,3.077554e+05,15.650000,4.873006e+04,5.730000,8.215082e+03,2.610000
max,4.775271e+06,158.000000,2.971537e+06,157.510000,2.718522e+06,157.420000